
        .container{
            display: flex;
            background-color: bisque;
            border: 5px solid black ;
            margin: 2px;
            padding: 2px;
    
        }
        .box{
            height: 200px;
            width:300px;
            border: blueviolet 3px solid;
            margin: 5px;
            padding: 10px;
            border-radius: 20px;
        }
        #box1{
            background-color: aqua;
        }
        #box2{
            background-color: blue;
        }
        #box3{
            background-color: orange;
        }
        #box4{
            background-color: tomato;       
        }
        @media (min-width: 640px){
            .container{
                flex-direction: row;
            }
        }
        @media (max-width: 640px){
            .container{
                flex-direction: column;
            }
        }
