
        h1{
            background-color: aquamarine;
            /* border-style: dashed;
            border-width: 2px;
            border-color: blue; */
            border: rgb(50, 1, 224) solid 3px ;
            border-radius: 10px;
        }
        .firstpara{
            background-color: bisque;
            border: rgb(248, 139, 5) solid 3px ;
            border-radius: 10px;
            padding: 50px; /* padding is done inside of the box, means in between box and inner content*/
        }
        .secondpara{
            background-color: burlywood;
            border: rgb(173, 118, 30) solid 3px ;
            border-radius: 10px;
            margin: 50px; /*Margin is done outside of the border, means between border and all the outer content*/
        }
        .thirdpara{
            background-color: chocolate;
            border: rgb(213, 74, 158) solid 3px ;
            border-radius: 10px;
        }
        span{
            font-size: larger;
            background-color: azure;
            border: rgb(60, 154, 189) solid 3px ;
            border-radius: 5px;
        }
   