        .container{
            background-color: beige;
            height: 650px;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box{
            background-color: burlywood;
            width: 400px;
            height: 450px;
            border: 1px solid rgb(139, 77, 23);
            margin: 5px;
            padding: 10px;
            box-shadow: 10px 15px 20px 5px  brown;
            /* box-shadow: inset 10px 15px 50px   brown; Shadow inside */
            /* box-shadow: 5px 5px rgb(231, 114, 42) , 10px 10px rgb(214, 16, 16);Multiple shadows */
        } 
        #head1{
            /* text-shadow: 4px 5px 2px whitesmoke;
             */
             text-shadow: 1px 1px 1px red, 2px 2px 2px blue, 3px 3px 3px green;
        }
 