*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    height:100%;
    width: 100%;
    background-color: rgb(203, 203, 203);
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200px);
    padding: 30px;
    place-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(101, 129, 255);
    border: 1px solid black;
    /* color: rgb(63, 174, 174); */
    border: 2px solid black;
    /* justify-self: stretch; */
    /* align-self: end; */
    /* place-self: stretch; */
}