*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    height:100%;
    width: 100%;
    background-color: rgb(159, 159, 159);
    
}
.item{
    background-color: rgb(90, 90, 241);
    border: 1px solid black;
    color: rgb(63, 174, 174);
    border: 2px solid black;
}