*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    height:100%;
    width: 100%;
    background-color: rgb(91, 91, 91);
    display: grid;
    padding: 20px;
    row-gap: 1rem;
    column-gap: 1rem;
    /* grid-template-rows: 200px 200px; */
    grid-template-rows: repeat(4,1fr);
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(3,1fr);    
}
.item{
    background-color: rgb(161, 161, 243);
    border: 1px solid black;
}
.header, .footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}