        div{
            border: red solid 2px;
            height: 100px;
            /* width: 500px; */
            padding: 20px;
            margin: 10px;
        }
        span{
            border: 2px solid orange;
            width: 400px;
            height: 400px;
            /* we cannot apply custom width and height to inline elements */
            margin: 10px;
            padding: 10px;
        }
        .blockspan{
            border: 2px solid orange;
            display: block;
            width: 400px;
            height: 100px;
            margin: 50px;
            padding: 30px;
        }
        .inline-blockspan{
            border: 2px lavender solid;
            display: inline-block;
            width: 300px;
            height: 100px;

        }
