*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgba(245, 245, 220, 0.738);
    width: 100%;
    height: 100vh;
    display: flex;
}
.content{
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    border: 2px solid black;
}

img{
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}
