*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    max-width: 80vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.header_container{
    margin-bottom: 2.9rem;
    
}
.header_title{
    margin-bottom: 1rem;
    font-size:  2.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    
}
.header_des{
    max-width: 568px;
    text-align: center;
    color: rgb(122, 122, 122);
    margin: 0 auto;
}
main{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);

}
.card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}
.card_img_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;

}
.card:hover .card_img{
    transform: scale(1.025);
    transition-duration: 0.5s;
}
.card_title{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(32, 28, 28);
    line-height: 1.5rem;
    margin: 0.4rem ;
}
.card_title_anchor:hover .card_title{
    color: rgb(21, 21, 236);
}
.card_description{
    color: rgb(58, 57, 57);
    font-size: 1rem;
    margin: 0.4rem;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.author_avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_avatar_conatiner{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(121, 119, 119);
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
}
.author_des{
    display: flex;
    flex-direction: column;
}
.author_des .name{
    color: rgb(57, 107, 255);
    
}
.author_des .date{
    color: rgb(149, 148, 148);
}
button{
    background: #ff5722;
    color: white;
    border: none;
    padding: .4rem .9rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background:#e64a19;
}
