*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header_container{
    margin-bottom: 2.9rem;
    
}
.header_title{
    margin-bottom: 1rem;
    font-size:  2.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header_des{
    max-width: 568px;
    text-align: center;
    color: rgb(99, 99, 99);
    margin: 0 auto;
}