*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: auto;

    background-image: linear-gradient(120deg, #fefeff 0%, #c2e9fb 100%);
}

.navcontainer{
    width: 100vw;
    height: 70px;
    background-image: radial-gradient( circle farthest-corner at 32.7% 49.8%,  rgba(28,88,238,1) 0%, rgba(0,39,137,1) 100.2% );

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}
nav{
    width: 100%;
}
#navlist{
    width: 100%;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 15px;
    margin-right: 15px; */
    padding: 10px;
}
#navlogo{
    font-size: 2rem;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#navitems{
    display: flex;
    gap: 30px;
}
.footerBox{
   background-image: radial-gradient( circle farthest-corner at 32.7% 49.8%,  rgba(28,88,238,1) 0%, rgba(0,39,137,1) 100.2% );
    text-align: center;
    width: 100vw;

    min-height: 35px
}
.footerBox p{
        color: azure;
        font-size: 1.5rem;
}
.contentBox{
    width: 70%;
    margin: auto;
}