*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: auto;
}
.navcontainer{
    width: 100vw;
    height: 70px;
    background-color: rgb(85, 147, 234);

}
#navlist{
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
#navlogo{
    font-size: 2.5rem;

}